.group{
    border:1px solid black;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
.blue{
    margin-left:20px;
    margin-right:20px;
    margin-top:30px;
    margin-bottom:30px;
}
.main{
    font-size:1.5em;


}
.main>div>img{
    width:190px;
    height:190px;
}
.main_common{
    display: inline-block;
}
.main_2 main_common{

}
.name{
    font-weight:800;
}
.red{
    position:relative;
    width:auto;
    height:auto;
    border:1px solid black;
}
.red>li{
    font-size:1.5em;
    margin:10px;
}
.yellow{
    position:relative;
    margin-top:10px;
    width:auto;
    height:auto;
    border:1px solid black;
}
.yellow>li{
    font-size:1.5em;
    margin:10px;
}
.purple{
    position:relative;
    width:auto;
    height:auto;
    border:1px solid black;
    margin-top:10px;
}
.purple>li{
    font-size:1.5em;
    margin:10px;
}
